# use glob syntax
syntax: glob

*.obj
*.pdb
*.user
*.userprefs
*.usertasks
*.aps
*.pch
*.pidb
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
.DS_Store
*.*~
*.pyc
packages/
*.orig
